<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ProyectoPAvanzadaConnectionString"
            connectionString="Data Source=DESKTOP-B29B9UP\SQLEXPRESS;Initial Catalog=ProyectoPAvanzada;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>