
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pago</title>
</head>
<body>
    <div class="container">
        <h2>Identificación: @ViewBag.Identificacion</h2>
        <h2>Nombre: @ViewBag.Nombre</h2>
        <h2>Teléfono: @ViewBag.Telefono</h2>
        <h2>Saldo: @ViewBag.Saldo</h2>
    </div>
</body>
</html>
